.App{
  position: relative;
  left: 5px;
}
.header1{
  text-align: center;
  padding: 20px;
}
.posts1{
  color: black;
}
.header2{
  color: brown;
  padding: 10px;
}
.p2{
  color: black;
}
.a3{
  color: blue;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px;
  
}
.score2{
  color: red;
  position: relative;
  left: 1360px;
  font-weight: 700;
}